 
body{
    background-repeat: no-repeat;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4wEm5uKoeil3z1slg/young-male-and-clean-doctor-underscore-with-a-pen-the-words-thank-you-in-blue-on-transparent-background_eoa1e9yjg__F0010.png");
background-size: cover;
height: auto;
width: auto; 
font-size: 40px;
font-family: "Arial Verdana", Times, serif;

}


.successful{
    margin-top: 20%;
}
.link{
	margin-bottom: 5px; 
	margin-left: 40%;
}